html,
body,
.root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  background-color: #95c5fc;
}

.header {
  background-color: #1884ff;
  padding: 0.3%;
}

.middle {
  width: 100%;
  height: 100%;
}

#login-card {
  width: 360px;
  border-radius: 25px;
  margin: 150px auto;
}

#signup-card {
  width: 380px;
  border-radius: 25px;
  margin: 150px auto;
}

.card-body {
  height: 350px;
}

#email {
  border-radius: 30px;
  background-color: #ebf0fc;
  border-color: #ebf0fc;
  color: #9da3b0;
}

#button {
  margin-top: 8%;
  border-radius: 30px;
}

#btn {
  position: absolute;
  bottom: -35px;
  padding: 5px;
  margin: 0px 55px;
  align-items: center;
  border-radius: 5px;
}

#container {
  margin-top: 25px;
}

.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  padding: 2px 0px;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  margin: 8px;
}

.signup {
  text-align: right;
}

.card-container {
  background-color: #fefeff;
}

.title {
  background-color: #fbfcf9;
}

.middle-container {
  width: 100%;
  height: 100%;
  background-color: #030303;
  display: flex;
  flex-direction: row;
}

.search {
  height: 100%;
  text-align: center;
  background-color: #f0f0f0;
}

.search > form {
  margin: 5% auto;
}

.search > ul {
  margin: 7%;
}

.project-card-container {
  height: 120px;
}

.project-card {
  width: 200px;
  height: 100%;
  border-radius: 25px;
}

.project-card-list {
  width: 80%;
  height: 100%;
  padding: 2%;
  background-color: #95c5fc;
}

a:hover {
  text-decoration: none;
}

.input-container {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 1;
  width: 300px;
  height: 180px;
  border-radius: 25px;
  background-color: #83b9ff;
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
  display: none;
}

.list {
  border-radius: 5px;
  width: 24%;
  background-color: rgb(238, 238, 238);
  box-shadow: 0px 1px 3px rgb(255, 255, 255);
}

.list-item {
  height: 100%;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px rgb(148, 148, 148);
  cursor: pointer;
}

.list-item:hover {
  background-color: rgb(245, 245, 245);
}

.add-item {
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}

.add-item:hover {
  border-radius: 5px;
  background-color: rgb(197, 197, 197);
}

.marked {
  background-color: rgb(247, 247, 83);
}